<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <% if(secrets.length == 0) { %>
    <h1 class="display-3">You've no Secrets yet :( </h1>
    <% } else { %>
      <h1 class="display-3">You've some Secrets!</h1>
    <% secrets.forEach(function(secret){ %>
      <p class="secret-text"> <%= secret %> </p>
    <% }) %>
    <% } %>
    <hr>
    <p class="lead">Want to recieve more Secrets ? share your <a href="/submit/<%=user%>">your link </a> with ur friends  </p>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
